<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <!-- TOP BAR -->
   <div>
    <button class="theme-btn" onclick="toggleTheme()">🌙 Mode</button>
    <a href="/logout"><button class="logout-btn">Logout</button></a>
   </div>

   <div class="actions-top">
    <button onclick="copyLink()">📋 Copy Portfolio Link</button>
    <a href="/download">
       <button>⬇ Download</button>
    </a>
   </div>

    <!-- ADD FORM -->
    <div class="card form-card">
        <div class="card">
        <h3>Your Profile</h3>

        <form method="POST">
        <input type="hidden" name="update_profile" value="1">

        <input type="text" name="bio" placeholder="Your Bio">
        <input type="text" name="github_profile" placeholder="GitHub Profile Link">
        <input type="text" name="linkedin" placeholder="LinkedIn Profile Link">

        <button type="submit" class="save-btn">Save Profile</button>
        </form>
        </div>

        <div class="card">
            <h3>Your Info</h3>

            <p><b>Name:</b> {{ user }}</p>
            <p><b>Bio:</b> {{ profile['bio'] }}</p>

            <a href="{{ profile['github'] }}" target="_blank">GitHub</a><br>
            <a href="{{ profile['linkedin'] }}" target="_blank">LinkedIn</a>
        </div>

        <h3>Add New Project</h3>

        <form method="POST" class="form-grid">
            <input type="hidden" name="add_portfolio" value="1">

            <input type="text" name="title" placeholder="Project Title" required>
            

            <textarea name="description" placeholder="Project Description" required></textarea>
            <button type="button" onclick="fillAI()" class="ai-btn">
                🤖 Auto Fill with AI
            </button>
            
            <input type="text" name="skills" placeholder="Skills (comma separated)" required>
            <button type="button" onclick="fillSkills()" class="ai-btn">
                ⚡ Auto Fill Skills
            </button>
            
            <input type="text" name="github" placeholder="GitHub Link">
            <input type="text" name="demo" placeholder="Live Demo Link">

            <input type="text" name="category" placeholder="Category (Web / Data / AI)">

            <button class="add-btn">Add Project</button>
        </form>
    </div>

    <!-- PROJECTS -->
    <h3 class="section-title">Your Projects</h3>

    {% if portfolios %}
        <div class="grid">
            {% for p in portfolios %}
                <div class="card project-card">

                    <h3>{{ p['title'] }}</h3>
                    <p>{{ p['description'] }}</p>

                    <p class="skills"><b>Skills:</b> {{ p['skills'] }}</p>

                    

                    <div class="links">
                        {% if p['github'] %}
                        <a href="{{ p['github'] }}" target="_blank">GitHub</a>
                        {% endif %}
                        {% if p['demo'] %}
                        <a href="{{ p['demo'] }}" target="_blank">Live Demo</a>
                        {% endif %}
                    </div>

                    <span class="category">{{ p['category'] }}</span>

                    <!-- ACTIONS -->
                    <div class="actions">
                        <form method="POST">
                            <input type="hidden" name="delete_id" value="{{ p['id'] }}">
                            <button class="delete-btn">Delete</button>
                        </form>
                    </div>

                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="empty">No portfolio added yet 😢</p>
    {% endif %}

</div>

<script>
function toggleTheme() {
    document.body.classList.toggle("dark");

    // save mode
    if (document.body.classList.contains("dark")) {
        localStorage.setItem("theme", "dark");
    } else {
        localStorage.setItem("theme", "light");
    }
}

// load saved mode
window.onload = function () {
    if (localStorage.getItem("theme") === "dark") {
        document.body.classList.add("dark");
    }
};
</script>

<script>
function copyLink() {
    let userId = "{{ session['user_id'] }}";
    let link = window.location.origin + "/portfolio/" + userId;

    navigator.clipboard.writeText(link).then(() => {
        alert("Public portfolio link copied!");
    });
}
</script>

<script>
function fillAI() {
    let title = document.querySelector("input[name='title']").value;
    let category = document.querySelector("input[name='category']").value;

    if (title === "") {
        alert("Enter title first");
        return;
    }

    fetch("/generate-ai", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ title: title, category: category })
    })
    .then(res => res.json())
    .then(data => {
        document.querySelector("textarea[name='description']").value = data.description;
        document.querySelector("input[name='skills']").value = data.skills;
    });
}
</script>

<script>
function fillSkills() {
    let title = document.querySelector("input[name='title']").value;
    let category = document.querySelector("input[name='category']").value;

    if (title === "") {
        alert("Enter title first");
        return;
    }

    fetch("/generate-ai", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ title: title, category: category })
    })
    .then(res => res.json())
    .then(data => {
        document.querySelector("input[name='skills']").value = data.skills;
    });
}
</script>


</body>
</html>